.priestImage {
    max-height: 262px;
    aspect-ratio: 1;
}

.announcements-box {
    border-radius: 20px;
}

.annoucements-list li {
    font-size: 1.5rem;
    color: #666 !important;
    font-weight: 400 !important;
}

.sticky-top {
    position: fixed;
    top: 0;
    width: 100%;
}

.background-box {
    background-color: rgba(0, 0, 0, 0.045);
    margin-bottom: 30px;
    border-radius: 10px;
}

.unit-executive-item {
    margin-top: 10px;
    margin-bottom: 10px;
}

.unit-executive-item h6 {
    font-size: 16px;
}


@media screen and (max-width: 577px) {
    .cat-teacher-item {
        min-height: 165px;
        margin: 5px 0;
    }

    .qurbana-timings-box {
        padding-bottom: 40px;
    }
}