.priestImage {
    max-height: 262px;
}

.date {
    margin-left: 4%;
    margin-bottom: 3%;
    list-style:inside;
    font-size: larger;
    color: black;
}

.date li {
    font-size: medium;
    color: black;
    margin-left: 5%;
    list-style: inside;
}

.gallery {
    display: flex;
    width: 75%;
    margin: auto;
    flex-wrap: wrap;
}
.gallery img {
    width: 100%;
    border: black solid 0.5px;
}

.wrapper {
    flex: 1 1 200px;
    margin: 5px;
}

.btnContainer {
    display:flex;
    justify-content: center;
    align-items: center;
}
.btnContainer button {
    border-radius: 5px;
    width: 150px;
    margin-top: 25px;
    font-size: 17px;
    color: black;
    text-align: center;
}