---

---

<section class="banner-area relative" id="home">
  <img
    src="img/assets/new_altar.webp"
    alt="New Altar"
    class="banner-img-home"
  />
  <!-- <div class="overlay overlay-bg"></div> -->
  <!-- <div class="container"> -->
  <!-- <div class="row fullscreen d-flex align-items-center justify-content-between"> -->
  <!-- <div class="banner-content col-lg-12 col-md-12 text-center"> -->
  <!-- <img
          src="img/assets/church-logo.png"
          alt="Church Logo"
          class="img img-fluid banner-logo-church"
        /> -->
  <!-- <h1 class="text-uppercase">St. Joseph's Church, Airoli</h1>
        <p class="pt-10 pb-10">
          So we, though many, are one body in Christ, and individually members
          one of another.
        </p> -->
  <!-- </div> -->
  <!-- </div> -->
  <!-- </div> -->
</section>
