---

---

<section class="popular-course-area mt-5 pt-5">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="menu-content pb-30 col-lg-8">
        <div class="title text-center">
          <h2><strong>Family Units</strong></h2>
          <p class="lead">We have 6 family units in our parish.</p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center text-center unit-grid">
      <div class="col-lg-4 col-md-3 col-6 mb-4">
        <a href="family-units.html#StAlphonsaUnit">
          <img
            class="img-fluid"
            src="/img/saints/st-alphonsa.webp"
            alt="St. Alphonsa Photo"
          />
          <h5 class="unit-name">St. Alphonsa Unit</h5>
          <p>More Details</p>
        </a>
      </div>
      <div class="col-lg-4 col-md-3 col-6 mb-4">
        <a href="family-units.html#StChavaraUnit">
          <img
            class="img-fluid"
            src="/img/saints/st-chavara.webp"
            alt="St. Chavara Photo"
          />
          <h5 class="unit-name">St. Chavara Unit</h5>
          <p>More Details</p>
        </a>
      </div>
      <div class="col-lg-4 col-md-3 col-6 mb-4">
        <a href="family-units.html#StEuphresiaUnit">
          <img
            class="img-fluid"
            src="/img/saints/st-euphrasia.webp"
            alt="St. Alphonsa Photo"
          />
          <h5 class="unit-name">St. Euphrasia Unit</h5>
          <p>More Details</p>
        </a>
      </div>
      <div class="col-lg-4 col-md-3 col-6">
        <a href="family-units.html#StMotherTeresaUnit">
          <img
            class="img-fluid"
            src="/img/saints/st-mother-teresa.webp"
            alt="St. Mother Teresa Photo"
          />
          <h5 class="unit-name">St. Mother Teresa Unit</h5>
          <p>More Details</p>
        </a>
      </div>
      <div class="col-lg-4 col-md-3 col-6">
        <a href="family-units.html#StMariamThressiaUnit">
          <img
            class="img-fluid"
            src="/img/saints/st-mariam-thressia.webp"
            alt="St. Mariam Thressia Photo"
          />
          <h5 class="unit-name">St. Mariam Thressia Unit</h5>
          <p>More Details</p>
        </a>
      </div>
      <div class="col-lg-4 col-md-3 col-6">
        <a href="family-units.html#StMarysUnit">
          <img
            class="img-fluid"
            src="/img/saints/st-mary.webp"
            alt="St. Mary Photo"
          />
          <h5 class="unit-name">St. Mary's Unit</h5>
          <p>More Details</p>
        </a>
      </div>
    </div>
  </div>
</section>
