---

---

<section class="popular-course-area mt-5 pt-5">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="menu-content pb-30 col-lg-8">
        <div class="title text-center">
          <h2><strong>Organizations</strong></h2>
        </div>
      </div>
    </div>
    <div class="row justify-content-center text-center unit-grid org-grid">
      <div class="col-md-3 col-6 mb-4">
        <a href="/catechism/">
          <img
            class="img-fluid"
            src="/img/assets/catechism-logo.png"
            alt="Catechism Logo"
          />
          <h5 class="unit-name">Catechism</h5>
          <p>More Details</p>
        </a>
      </div>
      <div class="col-md-3 col-6 mb-4">
        <a href="/youth/">
          <img
            class="img-fluid"
            src="/img/assets/Osmosis-logo.png"
            alt="Osmosis Youth Logo"
          />
          <h5 class="unit-name">Youth (Osmosis)</h5>
          <p>More Details</p>
        </a>
      </div>
      <div class="col-md-3 col-6 mb-4">
        <a href="/mathrusangam/">
          <img
            class="img-fluid"
            src="/img/assets/mathrusangam-logo.png"
            alt="Mathrusangam Logo"
          />
          <h5 class="unit-name">Mathrusangam</h5>
          <p>More Details</p>
        </a>
      </div>
      <div class="col-md-3 col-6 mb-4">
        <a href="/pithruvedi/">
          <img
            class="img-fluid"
            src="/img/assets/pithruvedi-logo.png"
            alt="Pithruvedi Logo"
          />
          <h5 class="unit-name">Pithruvedi</h5>
          <p>More Details</p>
        </a>
      </div>
    </div>
  </div>
</section>
