---

---

<section class="feature-area">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="single-feature">
          <div class="title">
            <h4>Holy Qurbana Timings</h4>
          </div>
          <div class="desc-wrap qurbana-timing">
            <p class="qurbana-timing-days">Monday, Thursday, Saturday</p>
            <p class="qurbana-timing-time">
              <strong>Holy Qurbana: 7:00 PM</strong>
            </p>
            <p class="qurbana-timing-days">Tuesday</p>
            <p class="qurbana-timing-time">
              <strong>Holy Qurbana: 7:00 AM</strong>
            </p>
            <p class="qurbana-timing-days">Wednesday</p>
            <p class="qurbana-timing-time">
              <strong
                >Holy Qurbana, Novena of Mother of Perpetual Help: 7:00 PM</strong
              >
            </p>
            <p class="qurbana-timing-days">Friday</p>
            <p class="qurbana-timing-time">
              <strong>Holy Qurbana, Novena of St. Joseph: 7:00 PM</strong>
            </p>
            <p class="qurbana-timing-days">Sunday</p>
            <p class="qurbana-timing-time">
              <strong>Holy Qurbana: 8:00 AM</strong>
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6" id="bibleReadingBlock">
        <div class="single-feature">
          <div class="title">
            <h4>Today's Bible Reading</h4>
          </div>
          <div class="desc-wrap bible-reading">
            <p class="mt-4">
              <i class="fa fa-info"></i> If the reading is not up to date, try reloading
              the page.
            </p>
            <p id="DayDescEng"></p>
            <p id="DayDescMal"></p>
            <h5 class="mb-3">Bible Readings of the Day</h5>
            <p id="NormalReading" class="fw-500 mb-4"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
