---
import { PARISH_PRIEST } from "../../data/parishDetails.js";
---

<section class="mt-5 pt-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="pb-40 col-md-4 justify-content-center">
        <div class="title text-center pb-20">
          <h3><strong>Our Vicar</strong></h3>
        </div>
        <div class="text-center pb-20">
          <img
            src="/img/priests/16.webp"
            class="img img-fluid pp-img"
            alt="Parish Priest Image"
          />
        </div>
        <div class="text-center">
          <h6><strong>{PARISH_PRIEST}</strong></h6>
          <p>Parish Priest</p>
        </div>
      </div>
      <div class="pb-40 col-md-8 col-xs-12">
        <div class="title text-center pb-20">
          <h3><strong>Prayer to St. Joseph</strong></h3>
        </div>
        <div class="justify-content-center row">
          <div class="col-12 text-justify announcements-box mt-0">
            <p>
              O Holy and Glorious St. Joseph, beloved Patron of Airoli Parish,
              we call upon you and your dearest Spouse, our Mother Mary, to
              intercede for us before your Son Jesus for the continued well
              being of our Parish, and to help us at all times. You were the
              Father of Our Lord, and with Mary, you cared for Him and provided
              for all the needs of the Holy Family. Hear us now, in our times of
              special needs and bring our requests to your Son, that He may send
              His continued graces upon us and bring to a happy solution the
              situatuin that confronts us. Dearest Mother Mary, with Joseph, we
              ask you to assist us and to be our advocate for the continued
              spiritual and physical growth and well being for our Parish.
              Joseph, son of David, and husband of Mary - we honour you,
              Guardiann of Redeemer - we adore the child you named Jesus. <br />
              Saint Joseph, patron of the universal church, pray for us, that like
              you we may live totally dedicated to the interests of the Saviour.
              Amen.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
