---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import CommonBanner from "../components/CommonBanner.astro";
import PeopleGrid from "../components/PeopleGrid.astro";
import CommonMetaTags from "../components/CommonMetaTags.astro";

const priestsData = [
	{
		name: "Fr. Lijo Velliyamkandathil",
		subText: "2022 - Present",
		imgSrc: "img/priests/15.webp"
	},
	{
		name: "Fr. Zacharias Neelankavil",
		subText: "2019 - 2022",
		imgSrc: "img/priests/14.webp"
	},
	{
		name: "Fr. Martin Kombara",
		subText: "2015 - 2019",
		imgSrc: "img/priests/13.webp"
	},
	{
		name: "Fr. Francis Eluvathingal",
		subText: "2014 - 2015",
		imgSrc: "img/priests/12.webp"
	},
	{
		name: "Fr. Sinto Chalissery",
		subText: "2010 - 2014",
		imgSrc: "img/priests/11.webp"
	},
	{
		name: "Fr. Martin Velliyamkandathil",
		subText: "2009 - 2010(Asst. PP)",
		imgSrc: "img/priests/10.webp"
	},
	{
		name: "Fr. Biju Kollamkunnel",
		subText: "2009 - 2010",
		imgSrc: "img/priests/9.webp"
	},
	{
		name: "Fr. Jose Aloor",
		subText: "2008 - 2009",
		imgSrc: "img/priests/8.webp"
	},
	{
		name: "Fr. Rajesh Mathew",
		subText: "2005 - 2008",
		imgSrc: "img/priests/7.webp"
	},
	{
		name: "Fr. Cyriac Kumbatt",
		subText: "2004 - 2005",
		imgSrc: "img/priests/6.webp"
	},
	{
		name: "Fr. Joju Arackal",
		subText: "2000 - 2004",
		imgSrc: "img/priests/5.webp"
	},
	{
		name: "Fr. Paul Arackal",
		subText: "1997 - 2000",
		imgSrc: "img/priests/4.webp"
	},
	{
		name: "Fr. Kurian Kunninparambil",
		subText: "1993 - 1997",
		imgSrc: "img/priests/3.webp"
	},
	{
		name: "Fr. Thomas Kalappura",
		subText: "1990 - 1993",
		imgSrc: "img/priests/2.webp"
	},
	{
		name: "Fr. Thomas Thalachira",
		subText: "1989 - 1990",
		imgSrc: "img/priests/1.webp"
	}
];

---

<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">
	<title>Former Parish Priests - St. Joseph's Church, Airoli</title>
	<CommonMetaTags />
</head>

<body>
	<Header />
	<CommonBanner title="Former Parish Priests" />
	<PeopleGrid dataList={priestsData} />
	<Footer />
</body>

</html>