---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import CommonMetaTags from "../components/CommonMetaTags.astro";
import CommonBanner from "../components/CommonBanner.astro";

import GalleryComponent from "../components/Gallery.astro";

const cmsUrl =
  "https://ap-south-1.cdn.hygraph.com/content/cleslmwlh2c5j01ujd6j7gzuf/master?query=query%20Assets%20%7B%0A%20%20galleries(orderBy%3A%20year_DESC%2C%20first%3A%201000)%20%7B%0A%20%20%20%20year%0A%20%20%20%20tags%0A%20%20%20%20imageFile%20%7B%0A%20%20%20%20%20%20url%0A%20%20%20%20%7D%0A%20%20%20%20caption%0A%20%20%7D%0A%7D%0A&operationName=Assets";
---

<!doctype html>
<html lang="en" class="no-js">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8" />
    <title>Gallery - St. Joseph's Church, Airoli</title>
    <CommonMetaTags />
  </head>

  <body>
    <Header />
    <CommonBanner title="Gallery" />
    <GalleryComponent cmsUrl={cmsUrl} />
    <Footer />
  </body>
</html>
