---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import CommonMetaTags from "../components/CommonMetaTags.astro";
import CommonBanner from "../components/CommonBanner.astro";
import Gallery from "../components/Gallery.astro";
import PeopleTable from "../components/PeopleTable.astro";

import { youthList } from "../data/youthData.js";

const cmsUrl =
  "https://ap-south-1.cdn.hygraph.com/content/cleslmwlh2c5j01ujd6j7gzuf/master?query=query%20Assets%20%7B%0A%20%20galleries(orderBy%3A%20year_DESC%2C%20where%3A%20%7Btags%3A%20Youth%7D)%20%7B%0A%20%20%20%20year%0A%20%20%20%20tags%0A%20%20%20%20imageFile%20%7B%0A%20%20%20%20%20%20url%0A%20%20%20%20%7D%0A%20%20%20%20caption%0A%20%20%7D%0A%7D%0A&operationName=Assets";
---

<!doctype html>
<html lang="en" class="no-js">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8" />
    <title>Youth - St. Joseph's Church, Airoli</title>

    <CommonMetaTags />
  </head>

  <body>
    <Header />
    <CommonBanner title="Youth" />

    <section class="course-details-area pt-10 pb-40">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 left-contents">
            <div class="jq-tab-wrapper" id="horizontalTab">
              <div class="jq-tab-menu">
                <div class="jq-tab-title active" data-tab="1">Events</div>
                <div class="jq-tab-title" data-tab="2">Objectives</div>
                <div class="jq-tab-title" data-tab="3">Executives</div>
              </div>
              <div class="jq-tab-content-wrapper">
                <div class="jq-tab-content active" data-tab="1">
                  KEY has been proudly organizing various events at parish,
                  zonal and diocesan level. Apart from organizing the events,
                  KEY has been very active in participating in the Western
                  region youth meets, conventions. Also at National level, KEY
                  has been attending National ICYM Meet, Retreats and
                  Conventions. <br /><br />
                  <b class="fw-500">Youth Day - Enthuzia</b>
                  <br />From the year 1993 onwards, every year on 26th of
                  January, we celebrate the Diocesan Youth Day, called the
                  Enthuzia where we have various zonal performances and a public
                  meeting. Talks by well-known resource persons are also
                  organized, keeping in mind, the importance of value education
                  and interpersonal relationships.
                  <br /><b class="fw-500"
                    >Fr. Sunny Memorial Church Choir Competition</b
                  >
                  <br />This mega event organized by the youth, is a big hit
                  throughout the Diocese where every member of a parish, youth,
                  children as well as parents participate as one team in one of
                  the two categories, with or without instruments and sing
                  Lord's hymns.
                  <br /><b class="fw-500">Camps</b>
                  <br />Every year, fun filled camps like the RAIN Camp for the
                  working youth, Koinonia HSC and SSC camps are conducted to
                  provide a stressbuster to the youth from their hectic lives.
                  <br /><b class="fw-500">Talentia</b>
                  <br />Every year, The Kalyan Eparchy youth come together for
                  this event, Talentia which is today, well known as a platform
                  for showcasing the talents of our youth. The various
                  competitions held are Dance, Fashion Show, Mime, Comedy Skit,
                  Literary events, Pookalam etc.
                  <br /><b class="fw-500">KEY Army and KEY Band</b>
                  <br />This is a Diocesan youth movement with a charismatic
                  spirituality. It is an initiative of young people themselves,
                  where the experience of God is nourished by prayer, the Word
                  of God, fellowship, and sharing the Good News of Jesus Christ
                  with others. KEY army is the fruit of FIAT 2010, the first
                  Spiritual convention of the Diocese of Kalyan for the Youth.
                  KEY Army is a network of young people chosen from each of the
                  parishes, striving to give time to the Lord, responding to the
                  challenges of today's world in the power of the Holy Spirit.
                  Every third Sunday of the month a group of committed
                  youngsters meet at the Bishop's House and spend their time in
                  prayers, praise and worship. KEY army also has a gospel band
                  which conducts retreat, praise and worship and adoration in
                  KEY army prayer meets and various parish and zonal events.
                  <br /><b class="fw-500">Diocesan Youth Retreat (DYR)</b>
                  <br />This is a spiritual platform for the youth to find out
                  their call to Catholicism and wash away all sins.
                </div>
                <div class="jq-tab-content" data-tab="2">
                  <b class="fw-500">Objectives</b>
                  <ul>
                    <li>
                      <i class="fa fa-caret-right" aria-hidden="true"></i> &nbsp;To
                      enable the young minds to become deeply aware of their Christian
                      Vocation and commit themselves to Christ and His mission.
                    </li>
                    <li>
                      <i class="fa fa-caret-right" aria-hidden="true"></i> &nbsp;Guide
                      the youth through Faith-formation, Value Education and Interpersonal
                      relationships.
                    </li>
                    <li>
                      <i class="fa fa-caret-right" aria-hidden="true"></i> &nbsp;To
                      help the youth for developing their talents and establish their
                      own identity.
                    </li>
                    <li>
                      <i class="fa fa-caret-right" aria-hidden="true"></i> &nbsp;To
                      expose them into real world problems of the downtrodden and
                      also motivate them to stand up against malpractices around
                      them.
                    </li>
                    <li>
                      <i class="fa fa-caret-right" aria-hidden="true"></i> &nbsp;To
                      nurture their growth in a group they are in, so that they have
                      a feeling of belongingness amongst each other.
                    </li>
                  </ul><br />
                  <p>
                    Thus, this ministry eventually aims at the spiritual
                    upbringing of the youth so that they become the co-workers
                    in the Church and Her mission.
                  </p>
                </div>
                <div class="jq-tab-content" data-tab="3">
                  <PeopleTable dataList={youthList} />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <Gallery cmsUrl={cmsUrl} />
    <Footer />
  </body>
</html>
