---
const year = new Date().getFullYear();
---

<footer class="footer-area">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-3 col-6">
        <div class="single-footer-widget">
          <h4>Main Links</h4>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/former-priests">Former Priests</a></li>
            <li><a href="/vocations-from-parish">Vocations</a></li>
            <li><a href="/gallery">Gallery</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-6">
        <div class="single-footer-widget">
          <h4>Organizations</h4>
          <ul>
            <li><a href="/catechism">Catechism</a></li>
            <li><a href="/youth">Youth</a></li>
            <li><a href="/pithruvedi">Pithruvedi</a></li>
            <li><a href="/mathrusangam">Mathrusangam</a></li>
            <li><a href="/liturgy">Liturgy</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-6">
        <div class="single-footer-widget">
          <h4>Social Media</h4>
          <ul>
            <li>
              <a
                href="https://www.youtube.com/@st.josephschurchairoli.95"
                target="_blank"><i class="fa fa-youtube-play"></i> YouTube</a>
            </li>
            <li>
              <a
                href="https://www.instagram.com/stjosephchurchairoli/"
                target="_blank"><i class="fa fa-instagram"></i> Instagram</a>
            </li>
            <li>
              <a
                href="https://www.facebook.com/stjosephchurchairoli"
                target="_blank"><i class="fa fa-facebook"></i> Facebook</a>
            </li>
            <li>
              <a
                href="https://www.instagram.com/osmosis_airoli/"
                target="_blank"
                ><i class="fa fa-instagram"></i> Osmosis Youth</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-6">
        <div class="single-footer-widget">
          <h4>Useful Links</h4>
          <ul>
            <li>
              <a href="https://kalyandiocese.com/" target="_blank"
                >Kalyan Diocese</a>
            </li>
            <li>
              <a href="http://www.syromalabarchurch.in/" target="_blank"
                >Syro Malabar Church</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-bottom row align-items-center justify-content-between">
      <p class="footer-text m-0 col-lg-8 col-md-12">
        Copyright &copy; {year} St. Joseph's Church, Airoli | Developed by <a
          href="https://grejo.in"
          target="_blank">Grejo Joby</a
        > &amp; contributed by <a aria-disabled="true" target="_blank"
          >Mathew George</a
        >
      </p>
    </div>
  </div>
</footer>

<script
  is:inline
  src="https://code.jquery.com/jquery-3.7.1.min.js"
  integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
  crossorigin="anonymous"></script>
<script
  is:inline
  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
  crossorigin="anonymous"></script>
<script is:inline src="/js/vendor/bootstrap.min.js"></script>
<script is:inline src="/js/easing.min.js"></script>
<script is:inline src="/js/hoverIntent.js"></script>
<script is:inline src="/js/superfish.min.js"></script>
<script is:inline src="/js/jquery.tabs.min.js"></script>
<script is:inline src="/js/lightbox.min.js"></script>
<script is:inline src="/js/main.js"></script>
