---

---

<header id="header" id="home">
  <div class="header-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-sm-6 col-8 header-top-left no-padding">
          <ul>
            <li>
              <a
                href="https://www.youtube.com/@st.josephschurchairoli.95"
                target="_blank"><i class="fa fa-youtube-play"></i></a>
            </li>
            <li>
              <a
                href="https://www.instagram.com/stjosephchurchairoli/"
                target="_blank"><i class="fa fa-instagram"></i></a>
            </li>
            <li>
              <a
                href="https://www.facebook.com/stjosephchurchairoli"
                target="_blank"><i class="fa fa-facebook"></i></a>
            </li>
          </ul>
        </div>
        <div class="col-lg-6 col-sm-6 col-4 header-top-right no-padding">
          <a href="mailto:info@stjosephchurchairoli.in"
            ><span class="fa fa-envelope"></span>
            <span class="text">info@stjosephchurchairoli.in</span></a
          >
        </div>
      </div>
    </div>
  </div>
  <div class="container main-menu">
    <div class="row align-items-center justify-content-between d-flex">
      <div id="logo">
        <a href="/"
          ><img
            src="img/assets/logo-light.png"
            alt="Church Logo"
            class="img img-fluid header-bar-logo"
          /></a
        >
      </div>
      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li><a href="/">Home</a></li>
          <li class="menu-has-children">
            <a href="">About</a>
            <ul>
              <li><a href="about.html">About Us</a></li>
              <li><a href="achievements.html">Achievements</a></li>
              <li><a href="former-priests.html">Former Parish Priests</a></li>
              <li><a href="parish-council.html">Parish Council</a></li>
            </ul>
          </li>
          <li class="menu-has-children">
            <a href="">Organizations</a>
            <ul>
              <li><a href="catechism.html">Catechism</a></li>
              <li><a href="youth.html">Youth</a></li>
              <li><a href="mathrusangam.html">Mathrusangam</a></li>
              <li><a href="pithruvedi.html">Pithruvedi</a></li>
              <li><a href="liturgy.html">Liturgy</a></li>
              <li><a href="family-units.html">Family Units</a></li>
            </ul>
          </li>
          <li><a href="gallery.html">Gallery</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
