---
const { dataList } = Astro.props;
---

<section class="course-details-area pt-40 mt-5 pb-40">
  <div class="container bootdey">
    <div class="row">
      {
        dataList.map((item) => (
          <div class="col-lg-3 col-md-6 mt-2 pt-2">
            <div class="team text-center rounded p-3 py-4">
              <h4 class="title mb-0">{item.name}</h4>
              <p class="text-muted">{item.subText}</p>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>
